body {
  margin: 0;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 64px;
  font-weight: bold;
}

h3 {
  font-size: 2.10em;
  font-style: italic;
  font-weight: 250;
  position: relative;
  bottom: 2.5rem;
}

h4 {
  font-size: 22px;
}

#introhead {
  font-size: 21px;
  color: #2C9AB7
}

a {
  text-decoration: none;
  color: #2C9AB7;
}

nav {
  background-color: #EBEBEB;
  height: 3rem;
  padding: 1rem 15%;
  position: relative;
}

nav p {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%)
}

nav p a {
  color: black;
  font-size: 19px;
  font-weight: 700;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

nav p a:first-child {
  margin-left: 0;
}

.top {
  background-color: #2C9AB7;
  height: 16rem;
  color: white;
  padding: 2.5rem 15% 2rem;
}

.intro {
  float: left;
  width: 45%;
  padding: 1.5rem 5% 1.25rem 15%;
  line-height: 1.6;
}

.quote {
  font-size: 1.5rem;
  color: #5BBCD6;
  position: relative;
  top: 2.5rem;
}

.story {
  float: left;
  width: 45%;
  padding: 0.5rem 5% 8rem 15%;
  line-height: 1.6;
}

.sidebar {
  padding: 1.5rem 15%;
  line-height: 1.6;
}

.sidebar h4 {
  position: relative;
  top: 1rem;
}

.story h4 {
  position: relative;
  top: 1.5rem;
}

footer {
  padding: 5rem 25% 3rem;
  clear: left;
  text-align: center;
  color: white;
  background-color: #393939;
}

footer a {
  color: white;
  font-size: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-weight: 600
}

footer p {
  padding-top: 1rem;
  line-height: 1.7;
}
